NEXT_PUBLIC_BUCKET_URL=https://iservers.blr1.cdn.digitaloceanspaces.com
API_KEY=hsdjhfjhehbdjrhjerhjkdhdjhfjkbrdhfjed
DATABASE_URL=ostgresql://postgres.jhwbbrvqixrkwoiwbzsp:maxpharma2026@aws-0-ap-northeast-2.pooler.supabase.com:6543/postgres
JWT_SECRET=your_jwt_signing_secret_here
MODE=production
DIGITAL_SECRET_KEY=pxaoRsG90qxNoBLo+zVWBCgscvT43tOoqftJ/CDupMY
DIGITAL_ACCESS_ID=DO00G2AQBV389CRBQKWX
DIGITAL_BUCKET_URL=https://iservers.blr1.cdn.digitaloceanspaces.com
DIGITAL_ENDPOINT=https://blr1.digitaloceanspaces.com
DIGITAL_BUCKET_NAME=iservers
DIGITAL_BUCKET_FOLDER=maxpharma
p