DB_NAME=maxpharma
DB_USER=maxpharma
DB_PASS=1vg-4H!PVQdhPrKG
DB_HOST=db
BUCKET_PORT=9002
API_KEY=hsdjhfjhehbdjrhjerhjkdhdjhfjkbrdhfjed
JWT_SECRET=dskhgifhdgdhjkdhfjkhsdahfiheriiuierujdfhhds
RESPONSE_SECRET=abcd098765qwerty123456mndfjkdshvsdkhds
MODE="test"
