@import "tailwindcss";

:root {
    --color-primary: #7d8e23; /* Default fallback color */
    --color-light-primary: #fafbea; /* Default fallback color */
    --color-secondary: #ea580c;
}

@font-face {
    font-family: "Sansation";
    src: url("/fonts/sansation/Sansation-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Sansation";
    src: url("/fonts/sansation/Sansation-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Sansation";
    src: url("/fonts/sansation/Sansation-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@theme default {
    --color-primary: var(--color-primary);
    --color-light-primary: var(--color-light-primary);
    --color-secondary: var(--color-secondary);
    --text-primary: #000000;
    --text-secondary: #000000;
    --font-sansation: "Sansation", sans-serif;
}

@layer base {
    h1 {
        @apply text-primary text-lg md:text-xl lg:text-2xl font-semibold;
    }

    h2 {
        @apply text-base lg:text-lg font-semibold text-secondary;
    }

    h3 {
        @apply text-base md:text-lg  font-normal text-primary;
    }

    h4 {
        @apply text-base md:text-lg  font-normal text-secondary;
    }

    p {
        @apply text-base text-justify text-black;
    }
}

@layer utilities {
    .custom-container {
        @apply max-w-[95%] mx-auto;
    }

    .flex-center {
        @apply flex items-center justify-center;
    }

    .button {
        @apply bg-primary text-white text-sm md:text-base font-normal md:font-bold py-2 px-4 rounded-xl cursor-pointer;
    }

    .active-button {
        @apply text-primary whitespace-nowrap bg-primary/10 text-sm border-2 border-primary px-2 py-1 rounded-xl;
    }

    .inactive-button {
        @apply text-gray-700 whitespace-nowrap bg-black/5 text-sm border-2 border-gray-300 px-2 py-1 rounded-xl;
    }

    .custom-transition {
        @apply transition-all duration-200 ease-in-out;
    }
}
